<!-- _footer.erb -->

<div id="footer">
  <!-- Your footer code goes here -->

  <ul class="list-inline">
    <% ["facebook", "instagram", "github"].each do |media| %>
      <li>
        <%= link_to "#{media}", "#", class: "btn btn-primary" %>
      </li>
    <% end %>
  </ul>

</div>


