<!-- _footer.erb -->

<div id="footer" class="wrapper-grey">
  <!-- Your footer code goes here -->

  <ul class="list-inline">
    <% ["facebook", "instagram", "github", "twitter", "snapchat"].each do |media| %>
      <li>
        <% link_to "http://www.#{media}.com", target: "_blank" do %>
          <i class="fa fa-<%=media%>"></i>
        <% end %>
      </li>
    <% end %>
  </ul>

</div>


